<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <main>
      <nav>
        <a href="/">home</a>
        <!-- Coming Soon
        |
        <a href="/posts">posts</a>
        |
        <a href="/projects">projects</a>
        -->
        |
        <a href="tinyhouse.jamilbk.com">tinyhouse</a>
        |
        <a href="/about">about</a>
      </nav>
      <hr>
      <section>
        {{ content }}
      </section>
      <footer>
        <hr>
        <span style="float: left">
          © 2021 Jamil Bou Kheir
        </span>
        <span style="float: right">
          Site last updated at: {{ site.time | date_to_string }}
        </span>
      </footer>
    </main>
  </body>
</html>
