<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/style.css" />
    <!-- Standard favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <!-- PNG favicons -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />

    <!-- Apple Touch Icon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />

    <!-- Android Chrome Icons -->
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/images/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/images/android-chrome-512x512.png"
    />

    <!-- Web App Manifest -->
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <main>
      <!-- Under construction
      <nav>
        <a href="/">home</a>
        |
        <a href="/posts">posts</a>
        |
        <a href="/projects">projects</a>
        |
        <a href="https://tinyhouse.jamilbk.com">tinyhouse</a>
        |
        <a href="/about">about</a>
      </nav>
        -->
      <hr />
      <section>{{ content }}</section>
      <footer>
        <hr />
        <!-- <span style="float: left"> © 2021 Jamil Bou Kheir </span> -->
        <span style="float: right">
          last updated {{ site.time | date_to_string }}
        </span>
      </footer>
    </main>
  </body>
</html>
