<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <main>
      <!--
      <nav>
        <a href="/">home</a>
        |
        <a href="/code">code</a>
        |
        <a href="/tinyhouse">tiny house</a>
        |
        <a href="/about">about</a>
      </nav>
      -->
      <section>
        {{ content }}
      </section>
      <footer>
      </footer>
    </main>
  </body>
</html>
